.box4{
    background-color: yellow;
    width: 25%;
    border: 1px solid black;
    height: 50%;
    margin-left: 75%;
}

.box1{
    background-color: purple;
    width: 100%;
    border: 1px solid black;
    margin: auto;
}

.box2{
    background-color: brown;
    width: 75%;
    border: 1px solid black;
    margin-left: 25%;
}

.box3{
    background-color: red;
    width: 50%;
    border: 1px solid black;
    margin-left: 50%;
}



h1{
    color: black;
}

#last{
    color:blue
}

body{
    border: 1px solid black;
}

p{
    text-align: right;
}

p:hover{
    color: chocolate;
    font-style: bold;
}

img{
    width: 25%;
    display: block;
    margin:auto;
    border: 1px solid rebeccapurple;
    border-style: hidden;
    opacity: 0.1;
}

img:hover{
    opacity: 1;
}

ul, ol{
    text-align: center;
    list-style-type: none;
}