#nav{
    list-style-type: none;
    display: flex;
    background-color: brown;
}


.items{
    display: block;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

li a{
    text-decoration: none;
    color: white;
}

li:hover{
    color: black;
    background-color: coral;
}

a{
    color: black;
    text-decoration: none;
}

img{
    width: 400px;
    height: 250px;
    opacity: 0.9;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a img:hover{
    opacity: 1;
}

h1{
    color: orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}



#middle{
    color: blue;
}

#last{
    color: brown;
}


div{
    background-color: cornflowerblue;
}

body{
    background: url('./sunset-quotes-21-1586531574.jpg');
}
